<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="body">
		<div th:each="movimentacao : ${movimentacao}" th:if="${usuarioLogado.id == movimentacao.pessoaFisicaId and movimentacao.categoria.tipo == 'receita'}"></div>
		<div th:each="movimentacao : ${movimentacao}" th:if="${usuarioLogado.id == movimentacao.pessoaFisicaId and movimentacao.categoria.tipo == 'despesa'}"></div>
		<canvas id="myChart"></canvas>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

		<script>
			var ctx = document.getElementById('myChart').getContext('2d');
			var chart = new Chart(ctx, {
				// The type of chart we want to create
				type : 'pie',

				// The data for our dataset
				data : {
					labels : [ 'red', 'blue' ],
					datasets : [ {
						label : 'My First dataset',
						backgroundColor: ['rgb(255, 0, 0)','rgb(0, 0, 255)'],
						borderColor : ['rgb(255, 0, 0)','rgb(0, 0, 255)'],
						data : [ 5, 10]
					} ]
				},

				// Configuration options go here
				options : {}
			});
		</script>

		

	</div>



</body>


</html>