<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Adicionar Movimentações</title>
</head>
<body>

	<div layout:fragment="body">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Adicionar Movimentações</h4>
							</div>
							<div class="card-body">
								<form th:action="@{/movement/create}" method="POST"
									th:object="${movimentacao}">
									<div class="row" >
										<div class="col-md-5 pr-1">
											<div class="form-group">
												<label>Nome</label> <input type="text" class="form-control"
													placeholder="Nome" name="nome">
											</div>
										</div>
										<div class="col-md-4 px-1">
											<div class="form-group">
												<label>Categoria</label>
												<!--                                                     <input type="text" class="form-control" placeholder="selecione" name="categoria"> -->
												<!-- <select th:each="categorias : ${categoria}">
   																 <option th:field="${categorias.nome}">Cat1</option>
   																 
  															</select> -->
												<select name="categoriaId">
													<option th:each="categoria : ${categoria}" 
															th:value="${categorias.id}"
															th:text="{${categorias.nome}"
															th:selectd="${categoria.id == movimentacao.categoriaId}">Wireframe</option>
												</select>
											</div>
										</div>
										<div class="col-md-3 pl-1">
											<div class="form-group">
												<label for="exampleInputEmail1">Data</label> <input
													type="date" class="form-control" placeholder="" name="data">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 pr-1">
											<div class="form-group">
												<label>Descrição</label> <input type="text"
													class="form-control" placeholder="Descrição"
													name="descricao">
											</div>
										</div>
										<div class="col-md-6 pl-1">
											<div class="form-group">
												<label hidden>PESSOA FISICA</label> <input type="text"
													class="form-control" placeholder="Last Name"
													name="pessoaFisicaId" th:value="${usuarioLogado.id}">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label>Tipo Movimentação</label> <input type="text"
													class="form-control" placeholder="Tipo Movimentação"
													name="tipoMovimentacao">
											</div>
										</div>

										<div class="col-md-4 pr-1">
											<div class="form-group">
												<label>valor</label> <input type="text" class="form-control"
													placeholder="Valor" name="valor">
											</div>
										</div>
									</div>

									<button type="submit" class="btn btn-info btn-fill pull-right"
										th:href="@{/movement/list}">Salvar</button>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>

</body>
</html>