<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="body">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
				
					<div class="col-md-12">
						<div class="card card-plain table-plain-bg">
							<div class="card-header ">
								<h4 class="card-title">Movimentações</h4>
								<br>
								<div class="row">
											
											<div class="col-4">
												<a class="btn btn-primary" th:href="@{/movement/register}"
												role="button">
												<i class="fas fa-plus"></i>
												  Adicionar Movimentação
												</a>
												
											</div>
								</div>
								<br>
							</div>
						</div>
					</div>
				
				
				
					<div class="col-md-12">
						<div class="card card-plain table-plain-bg">
							<div class="card-header ">
								<h4 class="card-title">Lista de Receitas</h4>

							</div>
							<div class="card-body table-full-width table-responsive">
								<table class="table table-hover">
									<thead>
										<th hidden>Pessoa fisica ID</th>
										<th>Nome</th>
										<th>Tipo</th>
										<th>Valor</th>
										<th>Categoria</th>
										<th hidden>Categoria Tipo</th>
										<!-- <th>City</th> -->
									</thead>
									<tbody >
										<tr th:each="movimentacao : ${movimentacao}" th:if="${usuarioLogado.id == movimentacao.pessoaFisicaId and movimentacao.categoria.tipo == 'receita'}" >
											<td hidden  th:text="${movimentacao.pessoaFisicaId}">1</td>
											<td th:text="${movimentacao.nome}">1</td>
											<!-- <td th:text="${movimentacao.descricao}">1</td> -->
											<td th:text="${movimentacao.tipoMovimentacao}">$36,738</td>
											<td th:text="${movimentacao.valor}">Niger</td>
											<td th:text="${movimentacao.categoria.nome}">Oud-Turnhout</td>
											<td hidden  th:text="${movimentacao.categoria.tipo}">Oud-Turnhout</td>
											<td>
											<div class="col-4">
<!-- 												<button class="btn btn-primary"> -->
<!-- 													<i class="fas fa-address-card"></i> -->
<!-- 												</button> -->

												<a class="btn btn-primary" 
												role="button"
												>
												<i class="fas fa-file-alt"></i>
												</a>
												
											</div>
											<div class="col-4">
												<button class="btn btn-warning">
													<i class="fas fa-pencil-alt"></i>
												</button>
											</div>
											
												<div class="row">
											
											<div class="col-4">
												<a class="btn btn-danger" th:href="@{/movement/delete/{id} (id=${movimentacao.id})}"
												role="button"
												>
												<i class="fas fa-trash-alt"></i>
												</a>
												
											</div>
										</div>
											
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card card-plain table-plain-bg">
							<div class="card-header ">
								<h4 class="card-title">Lista de Despesas</h4>

							</div>
							<div class="card-body table-full-width table-responsive">
								<table class="table table-hover">
									<thead>
										<th hidden >Pessoa fisica ID</th>
										<th>Nome</th>
										<th>Tipo</th>
										<th>Valor</th>
										<th>Categoria</th>
										<th hidden >Categoria Tipo</th>
										<!-- <th>City</th> -->
									</thead>
									<tbody>
										<tr th:each="movimentacao : ${movimentacao}" th:if="${usuarioLogado.id == movimentacao.pessoaFisicaId and movimentacao.categoria.tipo == 'despesa'}" >
											<td  hidden th:text="${movimentacao.pessoaFisicaId}">1</td>
											<td th:text="${movimentacao.nome}">1</td>
											<!-- <td th:text="${movimentacao.descricao}">1</td> -->
											<td th:text="${movimentacao.tipoMovimentacao}">$36,738</td>
											<td th:text="${movimentacao.valor}">Niger</td>
											<td th:text="${movimentacao.categoria.nome}">Oud-Turnhout</td>
											<td  hidden th:text="${movimentacao.categoria.tipo}">Oud-Turnhout</td>
											<td>
											<div class="col-4">
<!-- 												<button class="btn btn-primary"> -->
<!-- 													<i class="fas fa-address-card"></i> -->
<!-- 												</button> -->

												<a class="btn btn-primary" 
												role="button"
												>
												<i class="fas fa-file-alt"></i>
												</a>
												
											</div>
											<div class="col-4">
												<button class="btn btn-warning">
													<i class="fas fa-pencil-alt"></i>
												</button>
											</div>
											
												<div class="row">
											
											<div class="col-4">
												<a class="btn btn-danger" th:href="@{/movement/delete/{id} (id=${movimentacao.id})}"
												role="button"
												>
												<i class="fas fa-trash-alt"></i>
												</a>
											</div>
										</div>
											
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>

</body>
</html>